pipeline/PL_Lookup_Demo.json
{
	"name": "PL_Lookup_Demo",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Sales",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_FilterValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_blob_source_delimiter",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Sales').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(\n             item().SIC_Code,\n             activity('Lookup_FilterValue')\n                 .output.firstRow.SIC_Code\n         )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_FilterValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_blob_source_delimiter",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"p_SICCode": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-19T19:11:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}